<h1>New network_detail</h1>

<% form_for(@network_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :collection_id %><br />
    <%= f.text_field :collection_id %>
  </p>
  <p>
    <%= f.label :network_address %><br />
    <%= f.text_field :network_address %>
  </p>
  <p>
    <%= f.label :subnet_mask %><br />
    <%= f.text_field :subnet_mask %>
  </p>
  <p>
    <%= f.label :network_class %><br />
    <%= f.text_field :network_class %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', network_details_path %>